h1{
    color: rgb(93, 145, 208);
    font-size: 5vh;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

body{
    border: 5px rgb(14, 14, 16) solid;
    border-radius: 10px;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    /* width: 80vh; */
    max-width:960px;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    
    
    
    
}
.title{
    width: 50%;
    background: rgb(252, 224, 8);
    border-radius: 10px; 
    
    
    
}

.instructions{
    background-color: rgb(134, 183, 225);
    width: 35%;
    border-radius: 10px; 
    margin-top: 10px;
}

h3{
    font-size: 1.5vh;
}
ul{
    list-style:inside;
    text-align:center;
    font-size: 3vh;
}

input {
    padding:10px;
    margin: 10px 0;
    border: 2px solid ;
}

footer{
    margin-bottom: 5px;
}

;